/* Chat.css */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto; /* Adicionado para centralizar o chat na tela */
    position: absolute; /* Adicionado para centralizar o chat na tela */
    top: 0; /* Adicionado para centralizar o chat na tela */
    bottom: 0; /* Adicionado para centralizar o chat na tela */
    left: 0; /* Adicionado para centralizar o chat na tela */
    right: 0; /* Adicionado para centralizar o chat na tela */
  }
  
body {
    background: #333;
}

  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-message {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  